.container {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box {
    display: flex;
    position: relative;
  height: 10vh;
  width: 5vw;
  border: 2px solid black;
  text-align: center;
  align-content: center;
   text-align: center;
   justify-content: center;
   align-items: center;
}

